$tweetColor: #ABCDEF;
$tweetEditorColor:  #fff;
$errorColor: red;
$tweetBodyColor: #fff;
$tweetSectionBoder: 1px solid #e6ecf0;
$tweetSideMargin: 20px;
$tweetHoverColor:   rgb(232, 236, 240);
$actionDoneColor: rgb(228, 78, 78);
body {
    background-color: rgba(255, 255, 255, 0.959);
    .TwitterApp {
        .TwitterAppHeader {
            height: 60px;
            justify-content: right;
            background-color: #ABCDEF;
            .rightPanel {
                float: right;
                justify-content: right;
                margin-top: 10px;
                margin-right: $tweetSideMargin;
                form {
                    display: inline;
                    input[type='search'] {
                        display: inline;
                        width: 200px;
                    }
                }
                
                Button {
                    margin-left: 10px;
                    margin-right: 10px;
                    display: inline;                    
                }
            }
            
            select {
                float: left;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    .TwitterAppBody {

            ul {
                list-style-type: none;
                margin: 0px;
                margin-left: -50px;
                // display:;
                li {
                    margin: $tweetSideMargin;
                    // margin-right: $tweetSideMargin;
                    background-color: $tweetBodyColor;
                    padding: 10px;
                   
                    .RenderTweet {
                        margin: 10px;
                        // background-color: $tweetBodyColor;
                        // border-top: $tweetSectionBoder;
                        .TweetHeader{
                            border-bottom: $tweetSectionBoder;
                        }
                        .TweetFooter {
                            border-top: $tweetSectionBoder;
                            height: 26px;
                            text-align: center;
                            
                            i {
                                font-size: 20px;
                                margin-left: 10%;
                                margin-right: 10%;
                                margin-top: 12px;
                                &:hover {
                                    font-size: 20px;
                                    color: $tweetColor;
                                    cursor: pointer;
                                }
                                &.notImplemented {
                                    &:hover {
                                        font-size: 20px;
                                        margin-left: 10%;
                                        margin-right: 10%;
                                        cursor: not-allowed;
                                    }
                                }
                                &.actionDone {
                                    font-size: 20px;
                                    color: $actionDoneColor;
                                    cursor: pointer;
                                    &:hover {
                                        font-size: 20px;
                                        margin-left: 10%;
                                        margin-right: 10%;
                                        //cursor: not-allowed;
                                    }
                                }
                            }
                            
                        }
                        // :hover {
                        //     background-color: lightcyan;
                        // }
                    }
                } 
                & :hover {
                    background-color: $tweetHoverColor;
                    // opacity: .1;
                }
            }
            div {
                margin-left: $tweetSideMargin;
                clear: both;
            }
           
        // }
        .PostTweet {
            height: 200px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: $tweetColor;
            margin-left: 0px;
            .tweetEditor {
                height: 150px;
                background-color: $tweetEditorColor;
                overflow-x: hidden;
                overflow-y: auto;
            }
            .actionbar {
                // justify-content: left;
                float: right;
                height: 50px;
                display: flex;
                align-items: center; 
                justify-content: center;
                Button {
                    margin-left: 10px;
                }
                span {
                    // margin-right: 10px;
                    color: $tweetEditorColor;
                    font-weight: bold;
                }
                .exceedLimit {
                    color: $errorColor;
                }
            }
        }
        .noDisplay {
            display: none;
        }
    }    
    }
    
}
